{% extends 'shop/basic.html' %}

{% block title%} Title of About{% endblock %}
{% block body %}



<div class ="container my-3">
<div class="container-about">
    <h3> About US</h3>
 <p>
  A wise man always waits for great opportunities, but the problem is that, it doesn’t come easy all the way to you. Opportunities do not bang daily, but when it strikes one should be aware and eager to grasp it. You should be prepared enough that no one else can snatch your share of berry.
<br> <br>
This is the high time to open the window and see outside world, may be, the day is knocking your door.
<br> <br>
We, The Reverso Solutions, realized that the best opportunities are when you can truly help solving another’s problem, in our case, helping you to improvise professionally. We are committed to provide you the opportunity which will help you to build your career with limitless growth. We are dedicated to assist freshers and telecom professionals with world class training and placement facility. Market is full of institutes providing such facilities, but at the same time everyone is looking for a difference. We are proud to announce REVERSO SOLUTIONS, which is known for its unique way of teaching, making better understanding to the students. We have a great team build of highly experienced telecom (R&D engineers) professionals who understand the current market requirements, and makes you able to fill the gap between industry requirement and your field of expertise.
<br><br>
<a href="/websolutions/contact"> Contact Us To know more..</a>
 </p>
</div>
    </div>



{% endblock %}

